{name, "agner"}.
{authors, ["Yurii Rashkovskii <yrashk@gmail.com>"]}.
{description, "A Giant Nebula of Erlang Repositories"}.
{homepage, "http://agner.github.com/"}.
{rebar_compatible, true}.
{license, "BSD"}.
{url, {git, "https://github.com/agner/agner.git", {branch, "release"}}}.
{applications, [agner]}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
{bin_files, ["bin/agner"]}.
